# Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#setting the path variable
path = r'C:\Users\Sreelakshmi\Desktop\Instacart Basket Analysis'

In [3]:
# import the dataset orders_products_combined  into the dataframe
df_ords_prods_comb = pd.read_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))

In [5]:
#check the output
df_ords_prods_comb.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [6]:
df_ords_prods_comb.shape

(32434489, 12)

In [12]:
#import the dataset products_checked into a dataframe
df_prods = pd.read_csv(os.path.join(path, 'Data','Prepared Data', 'products_checked.csv'), index_col = False)

In [11]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 6)

In [16]:
# dropping unwanted columns from both dataframes
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [17]:
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', '_merge'])

### Merging the dataframes

In [22]:
# merfing both dataframes
df_merged = df_ords_prods_comb.merge(df_prods, on = 'product_id', indicator = True)

In [19]:
df_merged.head()

,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,7.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,7.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,7.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,7.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [20]:
# check the output
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [21]:
df_merged.shape

(32404859, 14)

In [23]:
#export df_merged as pickle file
df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'ords_prods_merge.pkl'))